div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
    border-radius: 25px;
    background-color: #DB6700;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
    color:#F7EF8A
}

.imgList{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}