.quoteBox{
    border:3px solid black;
    margin:0 auto;
    width:50%;
    padding:10px;
}
.quote{
    font-style:italic;
    font-size:large;
}
.quoteA{
    font-size:large;
    text-align:right
}
.par{
    margin:0 auto;
    width:50%;
}
.title1{
    margin:0 auto;
    width:50%;
}