.stdBody{
    margin:0;
}
.quoteBox{
    margin:0 auto;
    width:50%;
    padding:10px;
    font-family:monospace;
}
.quote{
    font-style:italic;
    font-size:large;
}
.quoteA{
    font-size:large;
    text-align:right;
}
.par{
    margin:0 auto;
    width:50%;
    font-family:sans-serif;
    text-align:justify;
}
.title1{
    margin: 0 auto;
    text-align: center;
    background: white;
    width: 50%;
    font-family: sans-serif;
    border-radius: 25px;
}

.stickyHead{
    position: fixed;
    top: 0;
    width: 100%
}

.navb{
    width: 100vw;
    height: 5.5vw;
    background-color: #DB6700;
    z-index: 1000;
}
.navl{
    margin:0;
    padding:0;
    display:flex;
}
.navli{
    list-style-type: none;
    margin: 0 2vh;
    padding: 1vw 0 0 0;
    font-size: 3vh;
}
.nava{
    text-decoration: none;
    color: #F7EF8A;
    font-family: sans-serif;
    padding: 1vw 4vw 2vw 4vw;
    border-radius: 5px;
}
.nava:hover{
    background-color: #E08307;
}

.tableMin{
    box-shadow: inset 0px 0px 5px 5px #DB6700,inset 0px 0px 5px 5px #E08307,inset 0px 0px 5px 5px #E59D1B,inset 0px 0px 5px 5px #E8B631;
    border-radius: 10px;
    font-weight: bold;
}

.tableMin th{
    border: 1px solid back;
    background: #DB6700;
    padding: 10px;
}

.tableMin td{
    padding: 5px;
    text-align: justify;
}

.tabContainer{
    overflow-x: auto;
}

.tabUlist{
    list-style:none;
}